<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="DVSEngine"
      type="System.Configuration.DictionarySectionHandler" />
    <section
      name="DVSEngineCrankshaftGraph"
      type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
  </appSettings>
  <DVSEngine>
    <!--Момент инерции двигателя: I(кг∙м^2)-->
    <add key="I_value" value="10" />

    <!--T перегрева (C)-->
    <add key="T_overheat" value="110" />

    <!--Коэффициент зависимости скорости нагрева от крутящего момента Hм (C/H*m*сек)-->
    <add key="Hm_value" value="0,01" />

    <!--Коэффициент зависимости скорости нагрева от скорости вращения коленвала Hv (C*сек/рад^2)-->
    <add key="Hv_value" value="0,0001" />

    <!--Коэффициент зависимости скорости охлаждения от температуры двигателя и окружающей среды C (1/сек)-->
    <add key="HC_value" value="0,1" />

  </DVSEngine>
  <DVSEngineCrankshaftGraph>
    <!--С точки зрения математики - правильно писать значения на графиках в формате (X;Y), и потому: -->
    <!-- Формат: (значение V; значение M),(V;M),...,(V;M)-->
    <add key="MV_values" value=" (0;20), (75;75), (150;100), (200;105), (250;75), (300;0)" />
  </DVSEngineCrankshaftGraph>
</configuration>